- if logged_in?
  .row
    %aside.col-md-3.card.profile-card
      %section.user_info
        = render 'shared/user_info'
      %section.stats
        = render 'shared/stats'
      %button.btn.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Compose Post
      #myModal.modal.fade{:role => "dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"} ×
              %h4.modal-title Compose new post
            .modal-body
              = render 'shared/micropost_form'
      %section.micropost_form
    .col-md-9
      .cardtweet
        %h3 Post Feed
      = render 'shared/feed'
- else
  .bg
  .jumbotron.center
    %h1.contenttitle Osm Posts
    %h3 Post . Update . Follow
    = link_to "Sign up now!", signup_path , class: "btn btn-lg btn-warning"
  .row.cardtweet
    .col-md-7
      %h2 Compost MicroPosts
      %blockquote.h3 Get in the moment to update on things that interests you.
      %blockquote.h3 Easy to make a quick post telling the world what you are doing, how good your morning coffee tastes ....
    .col-md-5
      =image_tag("tweet.jpg",width: "392px",height:"324px")
  .row.cardtweet
    .col-md-5
      =image_tag("follow.jpg",width: "392px",height:"324px")
    .col-md-7
      %h2 Follow your Interests
      %blockquote.h3 Follow people to get to know about their status in an instant.
  .row.cardtweet
    = render 'cont'
