<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <div class="pro_border">
        <%= gravatar_for @user,200 %>
      </div>
    </section>
    <section class="stats">
        <%= @user.name %>
      <%= render 'shared/stats' %>
    </section>

  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <div class="microblock">
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      </div>
    <% end %>
  </div>
</div>
