<div>
  <div class="row card">
    <div class="col-md-3">
    </div>
    <div class="col-md-7">
      <ul class="nav nav-tabs">
        <li>
          <%= link_to user_path, :class => "text_center" do %>
            <span>Tweets</span></br>
            <span><%= @user.microposts.count %></span>
          <% end %>
        </li>
        <li class="active">
          <%= link_to followers_user_path, :class => "text_center"  do %>
            <span>Followers</span></br>
            <span><%= @user.followers.count %></span>
          <% end %>
        </li>
        <li>
          <%= link_to following_user_path, :class => "text_center"  do%>
            <span>Following</span></br>
            <span><%= @user.following.count %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <div class="pro_border">
        <%= gravatar_for @user,200 %>
      </div>
    </section>
    <section class="stats">
      <%= @user.name %>
      <%= render 'shared/stats' %>
    </section>

  </aside>
  <div class="col-md-9">
    <div class="row">
      <div class="cardtweet">
        <h4><%= @title %></h4>
      </div>
    </div>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
