- @user ||= current_user
.stats.center
  %a{:href => "#{user_path(@user)}"}
    %strong#following.stat
      = @user.microposts.count
    Posts
  %a{:href => "#{following_user_path(@user)}"}
    %strong#following.stat
      = @user.following.count
    Following
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      = @user.followers.count
    Followers
